# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
center/eureka/src/main/resources/static/
center/eureka/src/main/resources/templates/
modules/bbs/src/test/
modules/bbs/target/generated-sources/
modules/customer/src/test/
modules/customer/target/generated-sources/
modules/medicine/src/test/
modules/medicine/target/generated-sources/
modules/merchant/src/test/
modules/merchant/target/generated-sources/
modules/order/src/test/
modules/order/target/generated-sources/
src/main/resources/static/
src/main/resources/templates/
