<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
  <!-- @see https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html -->
  <springProperty scope="context" name="logging_path" source="logging.path" defaultValue="./log/"/>

  <property name="ignored" value="
    com.alibaba.druid,
    com.fasterxml.jackson,
    com.mysql.jdbc,
    com.sun.proxy,
    io.undertow,
    java.lang.reflect,
    java.lang.Thread,
    java.util.concurrent,
    javax.servlet.http,
    junit.framework,
    net.sf.cglib,
    org.apache.catalina,
    org.apache.coyote,
    org.apache.derby,
    org.apache.http,
    org.apache.ibatis,
    org.apache.jasper.servlet,
    org.apache.shiro,
    org.apache.tomcat,
    org.eclipse.jdt,
    org.eclipse.jetty,
    org.mariadb.jdbc,
    org.mybatis.spring,
    org.springframework.boot.actuate,
    org.springframework.boot.web,
    org.springframework.aop,
    org.springframework.cglib,
    org.springframework.orm,
    org.springframework.security,
    org.springframework.test,
    org.springframework.transaction,
    org.springframework.web,
    sun.reflect,
    ByCGLIB
"/>

  <property name="CONSOLE_FILE" value="${logging_path}/console.log"/>
  <property name="SQL_FILE" value="${logging_path}/sql.log"/>
  <property name="SCHEDULE_FILE" value="${logging_path}/schedule.log"/>
  <property name="LOG_ARCHIVE_PATH" value="${logging_path}/archive"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder charset="UTF-8">
      <pattern>%d{HH:mm:ss} %-5level%-30(%c{0}:%L) %m%n%rEx{full,${ignored}}</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${CONSOLE_FILE}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_ARCHIVE_PATH}/console-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
      <maxHistory>100</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder charset="UTF-8">
      <pattern>%d{HH:mm:ss} %-5level %C:%L%n%m%n</pattern>
    </encoder>
  </appender>

  <appender name="sqlFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${SQL_FILE}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_ARCHIVE_PATH}/sql/sql-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
      <maxHistory>100</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder charset="UTF-8">
      <pattern>%d{HH:mm:ss} %m%n</pattern>
    </encoder>
  </appender>

  <appender name="schedule" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${SCHEDULE_FILE}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_ARCHIVE_PATH}/schedule/schedule-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
      <maxHistory>100</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder charset="UTF-8">
      <pattern>%d{HH:mm:ss} %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>

  <!-- druid -->
  <logger name="com.alibaba.druid.pool.DruidDataSource" level="WARN"/>
  <logger name="druid.sql" additivity="false" level="WARN">
    <appender-ref ref="sqlFile"/>
  </logger>
  <logger name="druid.sql.Statement" additivity="false" level="DEBUG">
    <appender-ref ref="sqlFile"/>
  </logger>

  <logger name="com.zaxxer.hikari" level="INFO"/>

  <!-- MariaDb Driver(SQL) -->
  <!-- add param below in JDBC url to enable log -->
  <!-- &log=true&profileSql=true -->
  <logger name="org.mariadb.jdbc.MariaDbStatement" additivity="false" level="INFO">
    <appender-ref ref="sqlFile"/>
  </logger>

  <logger name="org.quartz" additivity="false" level="INFO">
    <appender-ref ref="schedule"/>
  </logger>

  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="DEBUG"/>
  <logger name="org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod" level="DEBUG"/>

  <springProfile name="dev">
    <logger name="org.mariadb.jdbc.MariaDbStatement" additivity="true" level="INFO">
      <appender-ref ref="sqlFile"/>
    </logger>
  </springProfile>

</configuration>
